<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->

     <div class="p-3 mb-6 bg-primary text-center"><h1>Welcome to Homepage</h1></div>


     <br>

     <div class="container">
        <figure>
            <blockquote class="blockquote">
                <p>A book is a dream that you hold in your hand.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                - Neil Gaiman
            </figcaption>
        </figure>     
     </div>
        

     
        

     <br>
     

     <div class="container">
        <div style="width:980px; margin-left:auto; margin-right:auto;">
            <img src="Assets/images/7ways.png" class="img-thumbnail" alt="7ways">
            <img src="Assets/images/davincicode.png" class="img-thumbnail" alt="davincicode">
            <img src="Assets/images/magicalthinking.png" class="img-thumbnail" alt="magicalthinking">
            <img src="Assets/images/lifeofpi.png" class="img-thumbnail" alt="lifeofpi">
            <img src="Assets/images/thealchemist.png" class="img-thumbnail" alt="thealchemist">
            <img src="Assets/images/dragontattoo.png" class="img-thumbnail" alt="dragontatto">
            <img src="Assets/images/gonegirl.png" class="img-thumbnail" alt="gonegirl">
            <img src="Assets/images/america.png" class="img-thumbnail" alt="america">
        </div>
        
        
     </div>

     
    

<%- include('../partials/footer.ejs'); %>


