<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->

     <div class="p-3 mb-6 bg-primary text-center"><h1>Welcome to Homepage</h1></div>


     <br>
        <figure>
            <blockquote class="blockquote">
                <p>A book is a dream that you hold in your hand.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                - Neil Gaiman
            </figcaption>
        </figure>

        
            <blockquote class="blockquote">
                <p class="display-1"> A book is a dream that you hold in your hand.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                
            </figcaption>
        

     <br>
     

     <div class="container-fluid">
        <img src="./assets/images/7ways.png" class="img-thumbnail" alt="picture">
        <img src="./assets/images/davincicode.png" class="img-thumbnail" alt="picture">
        <img src="./assets/images/magicalthinking.png" class="img-thumbnail" alt="picture">
        <img src="./assets/images/lifeofpi.png" class="img-thumbnail" alt="picture">
        <img src="./assets/images/thealchemist.png" class="img-thumbnail" alt="picture">
        <img src="./assets/images/dragontattoo.png" class="img-thumbnail" alt="picture">
        
     </div>

     
    

<%- include('../partials/footer.ejs'); %>


